<section id="contact-page">
  <div class="container mx-auto px-3 md:px-0 h-screen flex justify-center items-center">
    <div class="contact-section bg-white py-20 px-6 w-full md:w-[600px]">
      <h1 class="md:text-3xl text-2xl font-bold text-primary mb-4">How to get in touch...</h1>
      <p class="text-base md:text-lg font-light text-black text-opacity-70">To contact The Eden Foundation, please send
        us email at:
        <a href="mailto:enquiries@theedenfoundation.org.uk"
          class="text-blue-500 underline">enquiries@theedenfoundation.org.uk</a>
      </p>
    </div>
  </div>
</section>