<section id="donate">
  <div class="container mx-auto px-4 md:px-0">
    <div class="mt-8 md:mt-12">
      <div class="sub-heading">
        <h2 class="text-primary font-bold text-xl md:text-4xl">Donate</h2>
        <p class="text-black text-opacity-70 text-base md:text-lg font-light mt-4">The Eden Foundation is a registered
          charity
          established
          by the local Muslim community of Huddersfield. We
          serve
          to inspire, upskill & motivate humanity by educating and delivering social services/khidmat rooted in the
          Islamic faith: ‘From taking, to giving back to the world.’</p>
        <p class="text-black text-opacity-70 text-base md:text-lg font-light mt-6">Your donations are an essential part
          in
          delivering our Vision.</p>
        <p class="text-black text-opacity-70 text-base md:text-lg font-light mt-6">Please read our <a href="#"
            class="underline text-secondary font-semibold">refund policy</a> and
          <a href="#" class="underline text-secondary font-semibold">privacy policy</a>
          prior to payment. If you have any questions, contact us by emailing
          enquiries@theedenfoundation.org.uk.
        </p>
      </div>
      <div class="mt-12 md:mt-20">
        <div class="grid md:grid-cols-2 gap-8">
          <div class="grid-item p-6 border rounded" style="height: max-content;">
            <h4 class="text-lg md:text-2xl text-primary font-bold">TEF Charity Fund: 'One Ummah, One Body'</h4>
            <p class="mt-4 text-balck text-opacity-70 font-light">The charity is the body which is responsible for
              looking after all our sites.</p>
            <p class="mt-4 text-balck text-opacity-70 font-light">Funds are allocated & prioritised by TEF according to
              where they are needed most.</p>
            <p class="mt-4 text-balck text-opacity-70 font-light">This allows services and projects to be delivered
              across all our sites.</p>

            <div data-controller="modal" data-modal-allow-background-close="false" class="mt-4">
              <a href="#" data-action="click->modal#open">
                <span class="text-primary">Read More...</span>
              </a>

              <div data-modal-target="container"
                data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
                class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
                style="z-index: 9999;">
                <div class="max-h-screen w-full max-w-lg relative">
                  <div class="m-1 bg-white rounded shadow">
                    <div class="flex justify-end items-center flex-wrap mt-6">
                      <button class="absolute right-4 top-8" data-action="click->modal#close"><span
                          class="text-balck text-opacity-70"><i class="fa-solid fa-x"></i></span></button>
                    </div>
                    <div class="p-8 text-sm md:text-base">
                      <p class="text-balck text-opacity-70 font-light mt-4">TEF Charity Fund: 'One Ummah, One Body'
                        The charity is the body responsible for looking after all our sites.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Funds are allocated & prioritised by TEF
                        according to where they are needed most.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">This allows services and projects to be
                        delivered across all our sites.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">We rely on your generous contributions to
                        build a better future.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Bring about effective and lasting change.
                      </p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Donate your sadaqa/charity towards:</p>
                      <ul class="mt-4 text-balck text-opacity-70 font-light list-disc">
                        <li class="mt-2">Highfields site: Dedicated parking, Boiler/Central Heating & Windows.</li>
                        <li class="mt-2">Lindley site: Masjid Renovation.</li>
                        <li class="mt-2">Crosland Moor site: Land Development.</li>
                        <li class="mt-2">Qarz/Loan repayment</li>
                        <li class="mt-2">Projects & Services</li>
                      </ul>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Make us a vehicle to fulfil the Prophetic
                        vision:</p>
                      <p class="mt-2 text-balck text-opacity-70 font-light">
                        “When a man dies, his deeds come to an end except for three things: Sadaqah Jariyah (ceaseless
                        charity); a knowledge
                        which is beneficial, or a virtuous descendant who prays for him (for the deceased).</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="button"
              class="inline-block first-option-btn bg-primary rounded text-white font-semibold w-full py-4 text-center mt-6 text-sm md:text-base "
              id="waqf-fund">SELECT
              TEF WAQF CHARITY FUND</button>
          </div>

          <div class="grid-item p-6 border rounded" style="height: max-content;">
            <h4 class="text-lg md:text-2xl text-primary font-bold">Zakaat</h4>
            <p class="mt-4 text-balck text-opacity-70 font-light">Bringing hope & preventing further hardship from
              Covid-19 Pandemic in Pakistan, Syria & Palestine, Greece, Yemen,
              Rhohingya, Kenya & Uganda.</p>
            <p class="mt-4 text-balck text-opacity-70 font-light">We aim to get your Zakaat to the recipient in Ramadhan
              where possible.</p>
            <p class="mt-4 text-balck text-opacity-70 font-light">Click Read more to see where your Zakaat will be
              utilised.</p>

            <div data-controller="modal" data-modal-allow-background-close="false" class="mt-4">
              <a href="#" data-action="click->modal#open">
                <span class="text-primary">Read More...</span>
              </a>

              <div data-modal-target="container"
                data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
                class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
                style="z-index: 9999;">
                <div class="max-h-screen w-full max-w-lg relative">
                  <div class="m-1 bg-white rounded shadow">
                    <div class="flex justify-end items-center flex-wrap mt-6">
                      <button class="absolute right-4 top-8" data-action="click->modal#close"><span
                          class="text-balck text-opacity-70"><i class="fa-solid fa-x"></i></span></button>
                    </div>
                    <div class="p-8 text-sm md:text-base">
                      <p class="text-balck text-opacity-70 font-light mt-4">Bringing hope & preventing further hardship
                        from Covid-19 Pandemic in Pakistan, Syria & Palestine, Greece, Yemen,
                        Rhohingya, Kenya & Uganda.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">We aim to get your Zakaat to the recipient
                        in Ramadhan where possible.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Zakaat Will Go Towards:</p>
                      <ul class="mt-4 text-balck text-opacity-70 font-light list-disc">
                        <li class="mt-2">Ramadhan Food Aid</li>
                        <li class="mt-2">Orphans Eid Gift</li>
                        <li class="mt-2">Hygiene Packs</li>
                        <li class="mt-2">Food Distributions</li>
                        <li class="mt-2">Charcoal Distributions</li>
                        <li class="mt-2">Widow Support And Sponsor Education Of Children</li>
                        <li class="mt-2">Adult Vocational Training</li>
                        <li class="mt-2">Orphan Support</li>
                        <li class="mt-2">Food Packs</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="button"
              class="inline-block tef-btn bg-primary rounded text-white font-semibold w-full py-4 text-center mt-6 text-sm md:text-base"
              id="zakaat-btn">
              SELECT
              ZAKAAT</button>
          </div>

          <div class="grid-item p-6 border rounded" style="height: max-content;">
            <h4 class="text-lg md:text-2xl text-primary font-bold">Sadaqatul Fitr (Fitrana)</h4>
            <p class="mt-4 text-balck text-opacity-70 font-light">"The Prophet (Peace & Blessings Be Upon Him) Declared
              the payment of Zakaat Al-Fitr as obligatory; it purifies the
              fasting person from any indecent act or speech, and is a source of feeding the poor." - (Abu Dawud)</p>
            <ul class="mt-6 text-balck text-opacity-70 font-light">
              <li>Wheat £2 - per person</li>
              <li>Barley £4.50 per person</li>
              <li>Raisins £12.50 per person</li>
              <li>Dates £17 per person</li>
            </ul>

            <div data-controller="modal" data-modal-allow-background-close="false" class="mt-4">
              <a href="#" data-action="click->modal#open">
                <span class="text-primary">Read More...</span>
              </a>

              <div data-modal-target="container"
                data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
                class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
                style="z-index: 9999;">
                <div class="max-h-screen w-full max-w-lg relative">
                  <div class="m-1 bg-white rounded shadow">
                    <div class="flex justify-end items-center flex-wrap mt-6">
                      <button class="absolute right-4 top-8" data-action="click->modal#close"><span
                          class="text-balck text-opacity-70"><i class="fa-solid fa-x"></i></span></button>
                    </div>
                    <div class="p-8 text-sm md:text-base">
                      <p class="text-balck text-opacity-70 font-light mt-4">Sadaqatul Fitr (Fitrana)</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Sadaqatul Fitr is an obligation for every
                        Muslim, male or female, who owns 612.35 grams of silver or its equivalent. It
                        should also be given on behalf of dependant children. It is Sunnah to give this before
                        performing Eid Salaah and should
                        only be given to those entitled to receive Zakaah. A specific portion of wheat, barley, dates,
                        or raisins or its
                        monetary equivalent must be given.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Sadaqatul Fitr per head:</p>
                      <ul class="mt-4 text-balck text-opacity-70 font-light list-disc">
                        <li class="mt-2">Wheat - £2</li>
                        <li class="mt-2">Barley - £4.50</li>
                        <li class="mt-2">Raisins - £12.50</li>
                        <li class="mt-2">Dates - £17.00</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="button"
              class="inline-block tef-btn bg-primary rounded text-white font-semibold w-full py-4 text-center mt-6 text-sm md:text-base"
              id="sadaqatul">SELECT
              SADAQATUL FITR (FITRANA)
            </button>
          </div>

          <div class="grid-item p-6 border rounded" style="height: max-content;">
            <h4 class="text-lg md:text-2xl text-primary font-bold">TEF Welfare: Foodbank</h4>
            <p class="mt-4 text-balck text-opacity-70 font-light">The Covid pandemic & cost of living has affected every
              segment of our community.</p>
            <p class="mt-4 text-balck text-opacity-70 font-light">We are frequently seeing queues outside foodbanks
              across the country.</p>
            <p class="mt-4 text-balck text-opacity-70 font-light">As a community we have a sacred duty to look after our
              neighbours and those in need.</p>

            <div data-controller="modal" data-modal-allow-background-close="false" class="mt-4">
              <a href="#" data-action="click->modal#open">
                <span class="text-primary">Read More...</span>
              </a>

              <div data-modal-target="container"
                data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
                class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
                style="z-index: 9999;">
                <div class="max-h-screen w-full max-w-lg relative">
                  <div class="m-1 bg-white rounded shadow">
                    <div class="flex justify-end items-center flex-wrap mt-6">
                      <button class="absolute right-4 top-8" data-action="click->modal#close"><span
                          class="text-balck text-opacity-70"><i class="fa-solid fa-x"></i></span></button>
                    </div>
                    <div class="p-8 text-sm md:text-base">
                      <p class="text-balck text-opacity-70 font-light mt-4">TEF Welfare: Foodbank</p>
                      <p class="mt-2 text-balck text-opacity-70 font-light">The Covid pandemic & cost of living crisis
                        has affected every segment of our community.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">We are frequently seeing queues outside
                        foodbanks across the country.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">As a community we have a sacred duty to look
                        after our neighbours and those in need.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">This year we want to focus on funding a
                        minimum of 500 family packs at £15 each, at a total cost of £7,500.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Donate and signpost those in need using our
                        referral service.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="button"
              class="inline-block tef-btn bg-primary rounded text-white font-semibold w-full py-4 text-center mt-6 text-sm md:text-base "
              id="foodbank">SELECT
              TEF
              WELFARE FOODBANK APPEAl
            </button>
          </div>

          <div class="grid-item p-6 border rounded" style="height: max-content;">
            <h4 class="text-lg md:text-2xl text-primary font-bold">Eden Centre Lindley Renovation</h4>
            <p class="mt-4 text-balck text-opacity-70 font-light">In 2017, our first* stepping stone in Lindley was
              laid. A hub for the Muslim community living in the ward.</p>
            <p class="mt-4 text-balck text-opacity-70 font-light">We have now been granted planning approval in 2021 for
              modifications to the roof, demolition of the rear extension &
              provision for safe access.</p>

            <div data-controller="modal" data-modal-allow-background-close="false" class="mt-4">
              <a href="#" data-action="click->modal#open">
                <span class="text-primary">Read More...</span>
              </a>

              <div data-modal-target="container"
                data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
                class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
                style="z-index: 9999;">
                <div class="max-h-screen w-full max-w-lg relative">
                  <div class="m-1 bg-white rounded shadow">
                    <div class="flex justify-end items-center flex-wrap mt-6">
                      <button class="absolute right-4 top-8" data-action="click->modal#close"><span
                          class="text-balck text-opacity-70"><i class="fa-solid fa-x"></i></span></button>
                    </div>
                    <div class="p-8 text-sm md:text-base">
                      <p class="text-balck text-opacity-70 font-light mt-4">TEF Eden Centre Lindley Renovation</p>
                      <p class="mt-2 text-balck text-opacity-70 font-light">In 2017, our first* stepping stone in
                        Lindley was laid. A hub for the Muslim community living in the ward.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">We have now been granted planning approval
                        in 2021 for modifications to the roof, demolition of the rear extension &
                        provision for safe access. We aim to to renovate from within and carry out essential maintenance
                        work to the boundary
                        wall.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Our vision is to deliver a flexible
                        multi-purpose building, suitable for all user groups.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">The work will be undertaken in phases, to
                        deliver the least amount of disruption.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">We are creating an itinerary with associated
                        costs the community can contribute and pledge towards.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Join us in the journey by donating here.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">*Please note that the building was purchased
                        with Qarz/Loans. The site will be officially designated with a function
                        once the final amount is paid off. We have witnessed that the community has outgrown the
                        building within three years.
                        The charity requests donors for this cause are open to TEF utilising funds generated being
                        liquidated and used towards
                        procuring a larger sitein the Lindley Ward Area.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="button"
              class="inline-block first-option-btn bg-primary rounded text-white font-semibold w-full py-4 text-center mt-6 text-sm md:text-base "
              id="lindley">
              SELECT
              TEF
              LINDLEY RENOVATION
            </button>
          </div>

          <div class="grid-item p-6 border rounded" style="height: max-content;">
            <h4 class="text-lg md:text-2xl text-primary font-bold">Highfields Car Park</h4>
            <p class="mt-4 text-balck text-opacity-70 font-light">The Highfields car park is leased from the council.
            </p>
            <p class="mt-4 text-balck text-opacity-70 font-light">The KMC have agreed to sell the land for £130k with
              estimated legal costs of £5 to £10k.</p>
            <p class="mt-4 text-balck text-opacity-70 font-light">The car park purchase will secure the future parking
              needs for the Maktab, Masjid, Community, Food Bank & Scouts
              initiatives running from the site.</p>

            <button type="button"
              class="inline-block first-option-btn bg-primary rounded text-white font-semibold w-full py-4 text-center mt-6 text-sm md:text-base "
              id="highfields">
              SELECT
              HIGHFIELDS CAR PARK
            </button>
          </div>

          <div class="grid-item p-6 border rounded" style="height: max-content;">
            <h4 class="text-lg md:text-2xl text-primary font-bold">Crosland Moor Car Park</h4>
            <p class="mt-4 text-balck text-opacity-70 font-light">The Crosland Moor Site was purchased in 2013 and
              renovation completed in 2015 with a total cost of approximately £750k.
            </p>
            <p class="mt-4 text-balck text-opacity-70 font-light">A multi-use building offering nursery, tuition,
              Maktab, adult education classes, meeting rooms and other community
              functions.</p>
            <p class="mt-4 text-balck text-opacity-70 font-light">We are excited to announce that we have purchased the
              land adjacent to the building and it has been granted planning
              approval to allow further parking, an enclosed play area and to enhance the appeal and ambience of the
              local area with
              planted borders.</p>

            <button type="button"
              class="inline-block first-option-btn bg-primary rounded text-white font-semibold w-full py-4 text-center mt-6 text-sm md:text-base "
              id="crosland">
              SELECT
              CROSLAND MOOR CAR PARK
            </button>
          </div>

          <div class="grid-item p-6 border rounded" style="height: max-content;">
            <h4 class="text-lg md:text-2xl text-primary font-bold">TEF General Charity: Direct Debit</h4>
            <p class="mt-4 text-balck text-opacity-70 font-light">The Eden Foundation exists to serve the needs of You,
              the Muslim community. You are our greatest asset. Our journey is
              your journey. For us to continue to deliver projects and services, for it to impact the community we live
              in, we require
              your ongoing support.
            </p>
            <p class="mt-4 text-balck text-opacity-70 font-light">Set up a monthly giving plan which shows your effort
              and contribution to; maintenance & repair, utility bills,
              insurance, Imam and staff salaries across all sites.</p>

            <div data-controller="modal" data-modal-allow-background-close="false" class="mt-4">
              <a href="#" data-action="click->modal#open">
                <span class="text-primary">Read More...</span>
              </a>

              <div data-modal-target="container"
                data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
                class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
                style="z-index: 9999;">
                <div class="max-h-screen w-full max-w-lg relative">
                  <div class="m-1 bg-white rounded shadow">
                    <div class="flex justify-end items-center flex-wrap mt-6">
                      <button class="absolute right-4 top-8" data-action="click->modal#close"><span
                          class="text-balck text-opacity-70"><i class="fa-solid fa-x"></i></span></button>
                    </div>
                    <div class="p-8 text-sm md:text-base">
                      <p class="text-balck text-opacity-70 font-light mt-4">TEF General Charity: Direct Debit</p>
                      <p class="mt-2 text-balck text-opacity-70 font-light">The Eden Foundation exists to serve the
                        needs of You, the Muslim community. You are our greatest asset. Our journey is
                        your journey. For us to continue to deliver projects and services, for it to impact the
                        community we live in, we require
                        your ongoing support.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Set up a monthly giving plan which shows
                        your effort and contribution to; maintenance & repair, utility bills,
                        insurance, Imam and staff salaries across all sites.</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Giving during these difficult times shows
                        strong Imaan & gratitude to Allah (swt)</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">“Indeed, the men who practice charity and
                        the women who practice charity and [they who] have loaned Allah a goodly loan
                        - it will be multiplied for them, and they will have a noble reward.”(Q: Al Hadeed 57:18)</p>
                      <p class="mt-4 text-balck text-opacity-70 font-light">Make an intention. Make it regular. Make it
                        count.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <a href="#"
              class="inline-block bg-primary rounded text-white font-semibold w-full py-4 text-center mt-6 text-sm md:text-base">SELECT
              TEF
              DIRECT DEBIT CAR PARK</a>
          </div>
        </div>

        <div class="mt-12">
          <div class="form-wrapper mt-6">
            <form id="tef-charity-waqf-form">
              <select name="donaton" id="donaton"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-primary focus:border-primary dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary-500 w-full md:w-[306px]">
                <option value="please-select">Please Select</option>
                <option value="tef-charity-waqf">TEF Charity Waqf</option>
                <option value="common-form">Covid Shuhada</option>
                <option value="common-form">Covid Foodbank</option>
                <option value="common-form">Zakaat</option>
                <option value="common-form">Fidya & Kaffarah</option>
                <option value="common-form">Ramadhan Iftari</option>
                <option value="common-form">Sadaqatul Fitr</option>
              </select>

              <div class="tef-form mt-5" style="display: none;">
                <div>
                  <select name="donation-all" id="donation-all"
                    class="w-full md:w-[306px] rounded bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-primary dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary-500">
                    <option value="please-select">Please Select</option>
                    <option value="setup-regular-donation">Setup a Regular Donation</option>
                    <option value="one-off-donation">One Off Donation</option>
                  </select>
                </div>

                <div class="one-way-donation mb-6" style="display:none;">
                  <select name="one-way-donation" id="one-way-donation"
                    class="w-full md:w-[306px] rounded mt-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-primary dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary-500">
                    <option value="please-select">Please Select</option>
                    <option value="general-charity">General Charity</option>
                    <option value="lindley-renovation">Lindley Renovation</option>
                    <option value="highfields-car-park">Highfields Car Park</option>
                    <option value="crosland-moor-car-park">Crosland Moor Car Park</option>
                  </select>
                </div>
              </div>
            </form>

            <form method="post" id="common-form" class="mt-5">
              <div class="grid md:grid-cols-[30%_30%] gap-6">
                <div class="form-group">
                  <label for="donation-amount"
                    class="text-black text-opacity-70 block mb-2 text-sm md:text-base">Donation Amount
                    (£)</label>
                  <input type="text" id="donation-amount"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    class="rounded focus:ring-primary focus:border-primary text-black text-opacity-70 w-full md:w-4/5" />
                  <div id="donation-amount-error" class="text-red-500 text-sm mt-1" style="display:none;">The donation
                    amount
                    is
                    required.</div>
                </div>
                <div class="form-group">
                  <label for="first-name" class="text-black text-opacity-70 block mb-2 text-sm md:text-base">First
                    Name</label>
                  <input type="text" id="first-name"
                    class="rounded focus:ring-primary focus:border-primary text-black text-opacity-70 w-full md:w-4/5" />
                  <div id="first-name-error" class="text-red-500 text-sm mt-1" style="display:none;">The first name is
                    required.</div>
                </div>
                <div class="form-group">
                  <label for="last-name" class="text-black text-opacity-70 block mb-2 text-sm md:text-base">Last
                    Name</label>
                  <input type="text" id="last-name"
                    class="rounded focus:ring-primary focus:border-primary text-black text-opacity-70 w-full md:w-4/5" />
                  <div id="last-name-error" class="text-red-500 text-sm mt-1" style="display:none;">The last name is
                    required.</div>
                </div>
                <div class="form-group">
                  <label for="address-line" class="text-black text-opacity-70 block mb-2 text-sm md:text-base">Address
                    Line 1</label>
                  <input type="text" id="address-line"
                    class="rounded focus:ring-primary focus:border-primary text-black text-opacity-70 w-full md:w-4/5" />
                  <div id="address-line-error" class="text-red-500 text-sm mt-1" style="display:none;">The address is
                    required.</div>
                </div>
                <div class="form-group">
                  <label for="town-or-city"
                    class="text-black text-opacity-70 block mb-2 text-sm md:text-base">Town/City</label>
                  <input type="text" id="town-or-city"
                    class="rounded focus:ring-primary focus:border-primary text-black text-opacity-70 w-full md:w-4/5" />
                  <div id="town-or-city-error" class="text-red-500 text-sm mt-1" style="display:none;">The town or
                    city
                    name is
                    required.</div>
                </div>
                <div class="form-group">
                  <label for="postcode"
                    class="text-black text-opacity-70 block mb-2 text-sm md:text-base">Postcode</label>
                  <input type="text" id="postcode"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    class="rounded focus:ring-primary focus:border-primary text-black text-opacity-70 w-full md:w-4/5" />
                  <div id="postcode-error" class="text-red-500 text-sm mt-1" style="display:none;">The postcode is
                    required.</div>
                </div>
                <div class="form-group">
                  <label for="email" class="text-black text-opacity-70 block mb-2 text-sm md:text-base">Email</label>
                  <input type="email" id="email"
                    class="rounded focus:ring-primary focus:border-primary text-black text-opacity-70 w-full md:w-4/5" />
                  <div id="email-error" class="text-red-500 text-sm mt-1" style="display:none;">The email is
                    required.</div>
                </div>
              </div>
              <div class="mt-10 md:w-3/5">
                <p class="text-primary text-sm md:text-xl font-semibold">Would you like to Gift Aid your donation? You
                  must agree
                  to the following terms:
                </p>
                <ul class="mt-4 list-disc text-black text-opacity-70 text-sm md:text-base px-4 md:px-0">
                  <li>I wish to gift aid this donation to The Eden Foundation (Registered Charity No 1153029)</li>
                  <li class="mt-3">I understand the charity will reclaim 25p of tax on every £1 that I have chosen to
                    gift aid in the
                    last 4 years.</li>
                  <li class="mt-3">I confirm I have paid or will pay an amount of Income Tax and/or Capital Gains Tax
                    for each tax
                    year (6 April to 5
                    April) that is at least equal to the amount of tax that all the charities or Community Amateur
                    Sports Clubs (CASCs) that
                    I donate to will reclaim on my gifts for that tax year.</li>
                  <li class="mt-3">understand that other taxes such as VAT and Council Tax do not qualify.</li>
                  <li class="mt-3">I agree Gift Aid will be used for funding the administration of the charity as well
                    as charitable
                    projects.</li>
                  <li class="mt-3">I understand that I can cancel this Gift Aid retrospectively within 30 days</li>
                </ul>
              </div>
              <div class="gift-aid mt-10">
                <div class="group-input">
                  <p class="text-primary text-sm md:text-xl font-semibold">Gift Aid</p>
                  <div class="flex items-center gap-4 mt-2">
                    <label for="gift-aid" class="text-black text-opacity-70 cursor-pointer text-sm md:text-base">Yes, I
                      would like The Eden
                      Foundation to
                      claim Gift Aid on my donation</label>
                    <input type="checkbox" id="gift-aid" class="accent-pink-500 cursor-pointer rounded">
                  </div>
                </div>
              </div>
              <div class="gift-aid mt-10">
                <div class="group-input">
                  <p class="text-primary text-sm md:text-xl font-semibold">Confirmation</p>
                  <div class="flex items-center gap-4 mt-2">
                    <label for="confirmation" class="text-black text-opacity-70 cursor-pointer text-sm md:text-base">I
                      wish to continue
                      with
                      the
                      donation</label>
                    <input type="checkbox" id="confirmation" class="accent-pink-500 cursor-pointer rounded">
                  </div>
                </div>
              </div>
              <div class="fill-card mt-8" style="display: none;">
                <iframe src="https://pi-live.sagepay.com/api/v1/hosted/docs/card-details-form.html"
                  frameborder="0"></iframe>
                <!-- <label for="id1">Name:</label>
                <div><input id="id1" data-card-details="cardholder-name"></div>
                <label for="id2">Card:</label>
                <div><input id="id2" data-card-details="card-number"></div>
                <label for="id3">Expiry:</label>
                <div><input id="id3" data-card-details="expiry-date"></div>
                <label for="id4">CVV:</label>
                <div><input id="id4" data-card-details="security-code"></div>
                <input type="hidden" name="card-identifier"> -->
                <button type="submit"
                  class="bg-primary w-full md:w-auto rounded text-white py-3 px-6 mt-8 hover:bg-primaryHover transition-all duration-300"
                  id="submit-button">Submit
                  Donation</button>
              </div>
              <!-- <label for="id1">Name:</label>
              <div><input id="id1" data-card-details="cardholder-name"></div>
              <label for="id2">Card:</label>
              <div><input id="id2" data-card-details="card-number"></div>
              <label for="id3">Expiry:</label>
              <div><input id="id3" data-card-details="expiry-date"></div>
              <label for="id4">CVV:</label>
              <div><input id="id4" data-card-details="security-code"></div>
              <input type="hidden" name="card-identifier">
              <button type="submit"
                class="bg-primary w-full md:w-auto rounded text-white py-3 px-6 mt-8 hover:bg-primaryHover transition-all duration-300"
                id="submit-button">Submit
                Donation</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function handleInputBlur() {
    const inputs = document.querySelectorAll("input");
    inputs.forEach((input) => {
      input.addEventListener("blur", () => {
        const error = document.querySelector(`#${input.id}-error`);
        if (input.value.trim() === "") {
          error.style.display = "block";
          input.classList.add("border-red-500");
          input.classList.remove("border-green-500");
          error.classList.remove("text-green-500");
          error.classList.add("text-red-500");
        } else {
          error.style.display = "none";
          input.classList.remove("border-red-500");
          input.classList.add("border-green-500");
          error.classList.remove("text-red-500");
          error.classList.add("text-green-500");
        }
      });
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    var forms = document.querySelectorAll('.tef-form, #common-form');
    for (var i = 0; i < forms.length; i++) {
      forms[i].style.display = 'none';
    }

    document.querySelector('#donaton').addEventListener('change', function () {
      var selectedOption = this.value;

      if (selectedOption === 'tef-charity-waqf') {
        document.querySelector('.tef-form').style.display = 'block';
        document.querySelector('#common-form').style.display = 'none';
      } else if (selectedOption === 'please-select') {
        document.querySelector('.tef-form').style.display = 'none';
        document.querySelector('#common-form').style.display = 'none';
      }
      else {
        document.querySelector('.tef-form').style.display = 'none';
        document.querySelector('#common-form').style.display = 'block';
      }
    });

    handleInputBlur();

    const confirmationCheckbox = document.getElementById('confirmation');
    const inputControls = document.querySelectorAll('.input-control');

    confirmationCheckbox.addEventListener('change', function () {
      let inputsAreFilled = true;
      const inputs = document.querySelectorAll("input");
      inputs.forEach((input) => {
        if (input.value.trim() === "") {
          inputsAreFilled = false;
          const error = document.querySelectorAll(`#${input.id}-error`);
          error.forEach(e => {
            e.style.display = "block";
            input.classList.add("border-red-500");
            input.classList.remove("border-green-500");
            e.classList.remove("text-green-500");
            e.classList.add("text-red-500");
          });
        }
      });

      if (inputsAreFilled) {
        inputControls.forEach(function (inputControl) {
          inputControl.style.display = confirmationCheckbox.checked ? 'flex' : 'none';
        });

        const errors = document.querySelectorAll('.text-red-500');
        if (errors.length === 0) {
          document.querySelector('.fill-card').style.display = confirmationCheckbox.checked ? 'block' : 'none';
        }
      } else {
        confirmationCheckbox.checked = false;
      }
    });

    const donationAllSelect = document.querySelector('#donation-all');
    const oneWayDonationDiv = document.querySelector('.one-way-donation');

    donationAllSelect.addEventListener('change', function () {
      if (this.value === 'setup-regular-donation') {
        window.location.href = '/donate/donorfy';
      } else if (donationAllSelect.value === 'one-off-donation') {
        oneWayDonationDiv.style.display = 'block';
      } else if (this.value === 'please-select') {
        document.querySelector('.tef-form').style.display = 'none';
      }
      else {
        oneWayDonationDiv.style.display = 'none';
      }
    });

    const oneWayDonationSelect = document.querySelector('#one-way-donation');
    const commonForm = document.querySelector('#common-form')

    oneWayDonationSelect.addEventListener('change', (event) => {
      const selectedValue = event.target.value;

      if (selectedValue !== 'please-select') {
        commonForm.style.display = 'block';
      } else {
        commonForm.style.display = 'none';
      }
    });

    const buttons = document.querySelectorAll('.tef-btn');
    const formWrapper = document.querySelector('.form-wrapper');
    const donationSelect = document.querySelector('#donaton');

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        formWrapper.scrollIntoView({ behavior: 'smooth' });

        if (document.querySelector('#common-form').style.display === 'none') {
          document.querySelector('#common-form').style.display = 'block';
        }

        if (button.id === 'zakaat-btn') {
          donationSelect.selectedIndex = 4;
          document.querySelector('.tef-form').style.display = 'none';
        } else if (button.id === 'foodbank') {
          donationSelect.selectedIndex = 3;
          document.querySelector('.tef-form').style.display = 'none';
        } else if (button.id === 'sadaqatul') {
          donationSelect.selectedIndex = 7;
          document.querySelector('.tef-form').style.display = 'none';
        }
      });
    });

    const firstOptionBtn = document.querySelectorAll('.first-option-btn')

    firstOptionBtn.forEach((button) => {
      button.addEventListener('click', () => {
        formWrapper.scrollIntoView({ behavior: 'smooth' });

        if (document.querySelector('.tef-form').style.display === 'none') {
          document.querySelector('.tef-form').style.display = 'block';
          document.querySelector('.one-way-donation').style.display = 'block';
          document.querySelector('#common-form').style.display = 'block';
        }

        if (button.id === 'lindley') {
          donationAllSelect.selectedIndex = 2;
          oneWayDonationSelect.selectedIndex = 2
        } else if (button.id === 'highfields') {
          donationAllSelect.selectedIndex = 2;
          oneWayDonationSelect.selectedIndex = 3
        } else if (button.id === 'crosland') {
          donationAllSelect.selectedIndex = 2;
          oneWayDonationSelect.selectedIndex = 4
        } else if (button.id === 'waqf-fund') {
          donationSelect.selectedIndex = 1
          donationAllSelect.selectedIndex = 2;
          oneWayDonationSelect.selectedIndex = 0
          document.querySelector('#common-form').style.display = 'none';
        }
      })
    })

    document.querySelector('[type=submit]').addEventListener('click', function (e) {
      e.preventDefault();
      sagepayOwnForm({ merchantSessionKey: 'EFA381AA-33EE-49E1-8A4C-6F3975F61564' }).tokeniseCardDetails({
        cardDetails: {
          cardholderName: document.querySelector('[data-card-details="cardholder-name"]').value,
          cardNumber: document.querySelector('[data-card-details="card-number"]').value,
          expiryDate: document.querySelector('[data-card-details="expiry-date"]').value,
          securityCode: document.querySelector('[data-card-details="security-code"]').value
        },
        onTokenised: function (result) {
          if (result.success) {
            console.log(result)
            document.querySelector('[name="card-identifier"]').value = result.cardIdentifier;
            document.querySelector('#common-form').submit();
          } else { alert(JSON.stringify(result)); }
        }
      });
    }, false)
  });
</script>