@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  width: 100%;
}

html,
body {
  scroll-behavior: smooth;
}

#header {
  .animated-link {
    position: relative;
  }

  .animated-link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    border-radius: 50px;
    left: 0;
    background-color: #0d521b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.banner-background {
  background-image: url(banner-20.jpg);
  height: 640px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.poster-1 {
  background-image: url(zakaat-appeal.jpeg);
  height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.poster-2 {
  background-image: url(poster-2.jpg);
  height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.poster-3 {
  background-image: url(poster-3.jpg);
  height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.poster-4 {
  background-image: url(poster-4.jpg);
  height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.slick-dots {
  position: absolute;
  bottom: -35px;
}

.slick-dots li button:before {
  font-size: 16px;
}

.slick-dots li:hover button:before {
  color: #222;
}

.slick-dots li.slick-active button:before {
  color: #222;
  opacity: 100% !important;
}

.slick-slide {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.fa-clock {
  color: #0d521b;
}

.salah-calander-row:hover {
  background-color: #0d521b;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.salah-calander-row:hover p {
  color: #fff !important;
}

.salah-calander-row:hover .fa-clock {
  color: #fff;
}

.hamburger-menu {
  transition: all 0.3s ease-in-out !important;
}

.tab-button {
  transition: all 0.3s ease-in-out !important;
}

.tab-panel {
  display: none;
  transition: 0.3s ease-in-out;
}

.tab-panel.active {
  display: block;
}

.tab-button.active {
  transition: all 0.3s ease-in-out !important;
}

.tab-button.active {
  transition: 0.3s ease-in-out !important;
}

.tab-button.active {
  background-color: #0d521b;
  transition: 0.3s ease-in-out;
}

.tab-button.active h4 {
  color: #fff;
}

.tab-button.active p {
  color: #fff;
}

.tab-button.active span {
  color: #fff;
}

.tab-button.active .date-time {
  background-color: #5b8c2f;
}

#tab-button-1 {
  margin-top: 0 !important;
}

#tab-button-2,
#tab-button-3 {
  margin-top: 24px;
}

#contact-page,
#our-centers-page {
  background-image: url(vec-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.prev-arrow {
  position: absolute;
  top: 48%;
  z-index: 30;
  left: 12px;
  font-size: 30px;
  color: #fff;
}

.next-arrow {
  position: absolute;
  top: 48%;
  z-index: 30;
  right: 12px;
  font-size: 30px;
  color: #fff;
}

.namaz {
  display: none;
}

@media (max-width: 525px) {
  html,
  body {
    overflow-x: hidden;
  }

  .slick-posters-desktop {
    display: none;
  }

  #contact-page,
  #our-centers-page {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header {
    .nav-elements {
      background-color: #fff;
      right: 0;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding-bottom: 1.5rem;
      transition: 0.4s ease-in-out;
      transform: translateX(100%);

      ul {
        li {
          padding: 1rem;
        }

        a {
          font-size: 14px;
          color: rgba($color: #000000, $alpha: 0.7);
        }
      }

      .donate-btn {
        margin-left: 1rem;
        margin-top: 1rem;
      }
    }

    .nav-show {
      transform: translate(0%) !important;
    }

    .toggle .bar-1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .bar-2 {
      opacity: 0;
    }

    .toggle .bar-3 {
      transform: rotate(45deg) translate(-4px, -5px);
    }
  }

  .banner-background {
    height: 550px;
    background-size: cover;
    background-position: center right;
    background-color: rgba($color: #000000, $alpha: 0.1);
    background-blend-mode: multiply;

    .banner-text {
      text-align: center;
    }

    .banner-text-highlight {
      width: max-content;
      margin-inline: auto;
    }
  }

  .poster-1 {
    height: 518px;
    background-position: bottom;
  }

  .poster-2 {
    height: 518px;
    background-position: bottom;
  }

  .poster-3 {
    height: 518px;
    background-position: bottom;
  }

  .poster-4 {
    height: 518px;
    background-position: bottom;
  }
}

@media (min-width: 525px) {
  .slick-wrapper-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .symbol-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .symbol-card:hover {
    color: #fff !important;
    transition: 0.3s ease-in-out;
  }

  .symbol-card:hover p {
    color: #fff !important;
  }

  .symbol-card:hover h4 {
    color: #fff !important;
  }

  .symbol-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

@media (min-width: 821px) {
  .symbols-mobile-section {
    display: none;
  }
}

@media (max-width: 821px) {
  .symbols-desktop-section {
    display: none;
  }
}
